/* Стилизация кнопок */

/* background-color: #BE9E56 */

/*
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3f51b5;
}
*/
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: green; /*#3f51b5;*/
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #808080;
  /*background-color: rgb(50, 50, 50);*/
}

/*
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3f51b5;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3f51b5;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3f51b5;
}
*/

/* отражение по горизонтали */
.flipH { transform: scale(1, -1) }

/* отражение по вертикали */
.flipV { transform: scale(-1, 1) }

/* оодновременное отражение по горизонтали и вертикали */
.flipHV { transform: scale(-1, -1) }
