/* Стилизация бокового меню */

.starkman-is-mobile .starkman-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  color: grey;
  background-color: #fafafa;
}

.mat-sidenav {
  width: 30%;
  /*width: 300px;*/
}

/* Стилизация бокового меню */
.mat-nav-list
{
  background-color: #fafafa;
  height: 99%;
}
