
@import "loading.css";

@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
 */

@import "side-menu.css";
@import "top-menu.css";
@import "content.css";
@import "material-icons.css";
@import "buttons.css";

.app-component-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html, body, app-component-container, starkman-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
