<!--<form #photoForm="ngForm" id="photoForm" enctype="multipart/form-data" method="post" action="http://localhost:8082/api/photo/{{this.Url}}">-->

<mat-card>

    <mat-card-content>

        <mat-grid-list cols="4" rowHeight="3:1">

          <mat-grid-tile>
            <mat-form-field>
              <input autocomplete="off"
                     [(ngModel)]="this.entity.Title" name="Title" [disabled]="true" #titleInput="ngModel" matInput
                     placeholder="Title (название)" required minlength="1">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input [(ngModel)]="this.entity.Url" name="Url" [disabled]="true" matInput placeholder="Url" required minlength="1"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field *ngIf="!this.isSinglePhoto">
              <input matInput placeholder="Порядковый номер" [type]="'number'" autocomplete="off"
                     [(ngModel)]="this.entity.SortOrder" name="SortOrder" #SortOrder="ngModel"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-checkbox *ngIf="!this.isSinglePhoto" [(ngModel)]="this.entity.IsVisible" #IsVisible="ngModel" name="IsVisible"
                          color="primary">Показывать на сайте
            </mat-checkbox>
          </mat-grid-tile>

        </mat-grid-list>

        <img mat-card-image width="100px"
             src="{{(this.entity && this.entity.Photo) ? (this.photoPath + this.entity.Photo.Url + '.' + this.entity.Photo.Type) : '' }}"
             alt="{{this.entity?.Title}}">
    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">
        <span matTooltip="Загрузить фото на сайт">
          <button (click)="photoFile.click()" mat-mini-fab color="primary">  <!--uploadFile()-->
            <mat-icon aria-label="Сохранить">add_a_photo</mat-icon>
          </button>
        </span>
        <span matTooltip="Скачать фото с сайта">
          <button (click)="downloadFile(this.entity?.Url)" mat-mini-fab color="accent">
            <mat-icon class="flipV" aria-label="Отменить">file_download</mat-icon>
          </button>
        </span>
        <span matTooltip="Удалить фото с сайта">
          <button (click)="delete(this.entity?.Url)" mat-mini-fab color="warn">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-actions>

    <mat-card-footer>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>{{this.entity.SourceName}}</mat-grid-tile>
        <mat-grid-tile>{{(this.entity.Size / 1024) | number}} {{this.entity.Size ? "Kb" : ""}}</mat-grid-tile>
      </mat-grid-list>
    </mat-card-footer>

  </mat-card>

<input type="file"
  accept="image/jpeg,image/png"
  style="opacity: 0"
  #photoFile
  (change)="previewPhoto(photoFile.files)" />
<div id="preview"></div>

<!--#photoFile required multiple-->
<!--</form>-->

