
<form #photoForm="ngForm">
  <mat-card>

    <mat-card-content>

        <mat-grid-list cols="4" rowHeight="4:1">

          <mat-grid-tile>
            <mat-form-field>
              <input autocomplete="off"
                     [(ngModel)]="this.page.Title" name="Title" [disabled]="true" #titleInput="ngModel" matInput
                     placeholder="Title (название)" required minlength="1">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input [(ngModel)]="this.page.Url" name="Url" [disabled]="true" matInput placeholder="Url" required minlength="1"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field *ngIf="!this.isSinglePhoto">
              <input matInput placeholder="Порядковый номер" [type]="'number'" autocomplete="off"
                     [(ngModel)]="this.entity.SortOrder" name="SortOrder" #SortOrder="ngModel"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-checkbox *ngIf="!this.isSinglePhoto" [(ngModel)]="this.entity.IsVisible" #IsVisible="ngModel" name="IsVisible"
                          color="primary">Показывать на сайте
            </mat-checkbox>
          </mat-grid-tile>

        </mat-grid-list>

        <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="Photo of a Shiba Inu">

    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">

        <span matTooltip="Загрузить фото на сайт">
          <button (click)="upload()" mat-mini-fab color="primary">
            <mat-icon aria-label="Сохранить">add_a_photo</mat-icon>
          </button>
        </span>
        <span matTooltip="Скачать фото с сайта">
          <button (click)="download(this.page?.Url)" mat-mini-fab color="accent">
            <mat-icon class="flipV" aria-label="Отменить">file_download</mat-icon>
          </button>
        </span>
        <span matTooltip="Удалить фото с сайта">
          <button (click)="delete(this.page?.Url)" mat-mini-fab color="warn">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-actions>

  </mat-card>
</form>
