.mat-card {
  margin: 20px;
}
/*
.edit-form-container {
  display: flex;
  flex-direction: column;
}
*/
/*
.edit-form-container > * {
  width: 100%;
}
*/

.mat-card-image {
  width: calc(100% + 48px);
  /*width: calc(500px + 48px);*/
  margin: 0 -24px 16px -24px;
}

a:-webkit-any-link {
  text-decoration: transparent;
}
