<mat-expansion-panel
  expanded="false"
  class="top-level-expanded-panel-background">

  <mat-expansion-panel-header routerLink="category/">
    <mat-panel-title>Список товарных категорий</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let entity of entityList" style="color: #222222"
                         hideToggle="true"
                         [expanded]="this.selectedEntity?.url === entity?.url">

      <mat-expansion-panel-header [routerLink]="'category/' + entity.url">
        <mat-panel-title>{{entity.title}}</mat-panel-title>
        <mat-panel-description>
          <span class="productCount">{{entity.productList?.length || 0}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-product-list [entityList]="entity.productList"></app-product-list>

    </mat-expansion-panel>
  </mat-accordion>

</mat-expansion-panel>
