<!--
<mat-card>

  <mat-card-title>{{this.entity?.title}}</mat-card-title>

  <mat-card-subtitle>
    {{this.entity?.url}}{{this.entity?.photo?.type ? ("." + this.entity?.photo?.type + " = " + ((this.entity?.photo?.size / 1024) | number) + " Kb") : "" }}
  </mat-card-subtitle>

    <mat-card-content>

      <img mat-card-image width="100px"
        src="{{this.entity?.photo?.base64String}}"
        alt="{{this.entity?.photo?.title}}">
    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">
        <span matTooltip="Загрузить фото на сайт">
          <button (click)="openFile.click()" mat-mini-fab color="accent" [disabled]="!this.entity.url">
            <mat-icon aria-label="Загрузить">add_a_photo</mat-icon>
          </button>
        </span>

        <span matTooltip="Скачать фото с сайта" *ngIf="this.entity?.photo?.base64String">
          <a href="{{this.photoService?.apiDomain + this.photoService?.apiDomainPhotoPath + this.entity?.photo?.url + '.' + this.entity?.photo?.type}}"
             download="{{this.entity?.url}}.{{this.entity?.photo?.type}}">
            <button mat-mini-fab color="accent" [disabled]="!this.entity?.photo?.base64String">
              <mat-icon class="flipV" aria-label="Скачать">file_download</mat-icon>
            </button>
          </a>
        </span>

        <span matTooltip="Удалить фото с сайта">
          <button (click)="deletePhoto()" mat-mini-fab color="warn" [disabled]="!this.entity?.photo?.base64String">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-actions>
  </mat-card>

<input type="file" required style="display: none" hidden="hidden"
  accept="image/jpeg,image/png"
  style="opacity: 0"
  #openFile
  (change)="previewPhoto(openFile.files)" />
<div id="preview"></div>
-->
