<mat-card *ngIf="this.entity">

    <mat-card-header>
        <mat-card-title>{{this.entity.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="this.entity.urlParent">из категории: {{this.entity.urlParent}}
            <!--    {{this.entity?.url}}{{this.entity?.photoList?.type ? ("." + this.entity?.photoList?.type + " = " + ((this.entity?.photoList?.size / 1024) | number) + " Kb") : "" }}-->
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
<!--
      <img mat-card-image width="100px" *ngFor="let photo of this.entity.photoList"
        [src]="photo.base64String"
        [alt]="photo.title"/>
-->
    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">
<!--
        <span matTooltip="Загрузить фото на сайт">
          <button (click)="openFile.click()" mat-mini-fab color="accent" [disabled]="!this.entity.url">
            <mat-icon aria-label="Загрузить">add_a_photo</mat-icon>
          </button>
        </span>
-->
<!--
        <span matTooltip="Скачать фото с сайта" *ngIf="this.entity.photoList[0].base64String">
          <a href="{{this.photoService?.apiDomain + this.photoService?.apiDomainPhotoPath + this.entity.photoList[0].url + '.' + this.entity?.photoList[0].type}}"
             download="{{this.entity?.url}}.{{this.entity.photoList[0].type}}">
            <button mat-mini-fab color="accent" [disabled]="!this.entity.photoList[0].base64String">
              <mat-icon class="flipV" aria-label="Скачать">file_download</mat-icon>
            </button>
          </a>
        </span>
-->

<!--
        <span matTooltip="Удалить фото с сайта">
          <button (click)="deletePhoto()" mat-mini-fab color="warn" [disabled]="!this.entity.photoList?[0].base64String">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>
-->

      </div>
    </mat-card-actions>
  </mat-card>

<input type="file" required style="display: none" hidden="hidden"
  accept="image/jpeg,image/png"
  style="opacity: 0"
  #openFile
  (change)="previewPhoto(openFile.files)" />
<div id="preview"></div>
