
<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>Список товарных категорий</mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    <mat-list>
      <a *ngFor="let entity of entityList" mat-list-item routerLink="category/{{entity.Url}}">{{entity.Title}}</a>
    </mat-list>
  </p>
  <span matTooltipPosition="right" matTooltip="Обновить">
    <button (click)="reload()" mat-mini-fab color="primary">
      <mat-icon aria-label="Обновить">autorenew</mat-icon>
    </button>
  </span>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Список заказов</mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    <mat-list>

    </mat-list>
  </p>
</mat-expansion-panel>
