<form #offerGridForm="ngForm" *ngIf="this.entity && this.entity.offerGrid">

    <mat-card>

        <mat-card-header>
            <mat-card-title>{{this.entity.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="this.entity.urlParent">из категории: {{this.entity.urlParent}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <br/>
            <h4 *ngIf="!this.product_id">Размерная сетка категории:</h4>
            <h4 *ngIf="this.product_id">Размерная сетка товара:</h4>
            <br/>

            <div class="flex-container-row">
                <div class="flex-item" style="width: 100px;">
                    <span>Размер</span>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.min"
                               name="heightMin"
                               matInput placeholder="старт" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.step"
                               name="heightStep"
                               matInput placeholder="шаг" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.count"
                               name="heightСount"
                               matInput placeholder="количество шагов" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex-container-row">
                <div class="flex-item" style="width: 100px;">
                    <span>Рост</span>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.min"
                               name="sizeMin"
                               matInput placeholder="старт" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.step"
                               name="sizeStep"
                               matInput placeholder="шаг" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.count"
                               name="sizeСount"
                               matInput placeholder="количество шагов" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <div class="button-row">
            <span matTooltip="Показать сетку">
              <button (click)="create()" mat-mini-fab color="accent"
                      [disabled]="!offerGridForm.form.valid || this.notificationService.appLoading">
                <mat-icon aria-label="Показать сетку">done</mat-icon>
              </button>
            </span>
            </div>
        </mat-card-actions>

        <table>
            <th style="width: 50px; padding-bottom: 50px;"></th>
            <th *ngFor="let height of this.heightCol">{{height}}</th>
            <tr *ngFor="let size of this.sizeCol">
                <td style="font-weight: bold">{{size}}</td>
                <td *ngFor="let height of this.heightCol">
                    <!--<div class="offerGridCell">{{height}}:{{size}}</div>-->
                    <input autocomplete="off" matInput type="number"
                           [disabled]="!this.product_id"
                           class="table-editable-sell-hover-hilight table-editable-sell" />
                </td>
            </tr>
        </table>

        <!--
        <div class="flex-container-row">
            <div class="flex-item" style="width: 20px;"></div>
            <div *ngFor="let height of this.heightCol" class="flex-item" style="width: 20px;">
                <span style="font-size: small">{{height}}</span>
            </div>
        </div>
        <br/>
        <div class="flex-container-col">
            <div *ngFor="let size of this.sizeCol" class="flex-item" style="height: 20px;">
                <span style="font-size: small">{{size}}</span>
            </div>
        </div>
        <br/><br/>
        -->

    </mat-card>

</form>
