<form #offerGridForm="ngForm" *ngIf="this.entity && this.entity.offerGrid && this.category_id && !this.product_id">

    <mat-card>

        <mat-card-header>
            <mat-card-title>{{this.entity.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="this.entity.urlParent">из категории: {{this.entity.urlParent}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <br/>
            <h4>Сетка по-умолчанию для каждого товара в категории:</h4>
            <br/>

            <div class="flex-container-row">
                <div class="flex-item" style="width: 100px;">
                    <span>Размер</span>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.min"
                               name="heightMin"
                               matInput placeholder="старт" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.step"
                               name="heightStep"
                               matInput placeholder="шаг" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field class="mat-form-field">
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.height.count"
                               name="heightСount"
                               matInput placeholder="количество" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex-container-row">
                <div class="flex-item" style="width: 100px;">
                    <span>Рост</span>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.min"
                               name="sizeMin"
                               matInput placeholder="старт" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.step"
                               name="sizeStep"
                               matInput placeholder="шаг" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
                <div class="flex-item">
                    <mat-form-field>
                        <input autocomplete="off" [(ngModel)]="this.entity.offerGrid.size.count"
                               name="sizeСount"
                               matInput placeholder="количество" type="number"
                               (keyup.enter)="onGridChange()" (blur)="onGridChange()"
                               required/>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <div class="button-row">
            <span matTooltip="Показать сетку">
              <button (click)="create()" mat-mini-fab color="accent"
                      [disabled]="!offerGridForm.form.valid || this.notificationService.appLoading">
                <mat-icon aria-label="Показать сетку">done</mat-icon>
              </button>
            </span>
            </div>
        </mat-card-actions>

        <div class="flex-container-row">
            <div class="flex-item" style="width: 20px;"></div>
            <div *ngFor="let height of this.heightCol" class="flex-item" style="width: 20px;">
                <span style="font-size: small">{{height}}</span>
            </div>
        </div>
        <br/>
        <div class="flex-container-col">
            <div *ngFor="let size of this.sizeCol" class="flex-item" style="height: 20px;">
                <span style="font-size: small">{{size}}</span>
            </div>
        </div>

        <!--
        <table>
            <th *ngFor="let height of this.heightCol">{{height}}</th>
            <tr *ngFor="let size of this.sizeCol">
                <td *ngFor="let height of this.heightCol">
                    <div class="offerGridCell">{{height}}:{{size}}</div>
                </td>
            </tr>
        </table>
        -->
    </mat-card>

</form>
