<mat-card *ngIf="this.entity">

    <mat-card-header>
        <mat-card-title>{{this.entity.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="this.entity.urlParent">из категории: {{this.entity.urlParent}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <div style="display: flex; padding-top: 20px;">
            <div>
                <mat-form-field>
                    <input type="text" #search matInput placeholder="Поиск по всем фильтрам"
                           style="color: grey;"
                           (keyup)="this.applyFilter(search.value)">
                    <mat-icon matSuffix style="color: grey; font-size: medium;">search</mat-icon>
                </mat-form-field>

                <div class="table-container">
                    <mat-table matSort
                               [dataSource]="allFiltersDataSource"
                               class="mat-elevation-z8">

                        <ng-container matColumnDef="sortOrder">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Номер</mat-header-cell>
                            <mat-cell *matCellDef="let filter">
                                <!--{{filter.sortOrder | number}}-->
                                <input matInput type="number" autocomplete="off" [(ngModel)]="filter.sortOrder"
                                       name="sortOrder_{{filter.id}}" placeholder="Номер"
                                       class="table-editable-sell-hover-hilight" required/>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Название</mat-header-cell>
                            <mat-cell *matCellDef="let filter">
                                <!--{{filter.name}}-->
                                <input matInput type="text" autocomplete="off" [(ngModel)]="filter.name"
                                       name="name_{{filter.id}}" placeholder="Название"
                                       class="table-editable-sell-hover-hilight" required/>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? allFiltersMasterToggle() : null"
                                              [checked]="allFiltersSelection.hasValue() && allFiltersIsAllSelected()"
                                              [indeterminate]="allFiltersSelection.hasValue() && !allFiltersIsAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? allFiltersSelection.toggle(row) : null"
                                              [checked]="allFiltersSelection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="allFiltersColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: allFiltersColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div style="margin-left: 20px; margin-top: 0em;">
                <h4>Выбранные фильтры</h4>
                <mat-table
                    [dataSource]="this.entity.filterList"
                    class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Название</mat-header-cell>
                        <mat-cell *matCellDef="let filter">
                            {{filter.name}}
                            <!--<input matInput type="text" autocomplete="off" [(ngModel)]="filter.name" name="name_{{filter.id}}" placeholder="Название"  class="table-editable-sell-hover-hilight" required/>-->
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef> Значение</mat-header-cell>
                        <mat-cell *matCellDef="let filter">
                            <!--{{filter.value}}-->
                            <input matInput type="text" autocomplete="off" [(ngModel)]="filter.value"
                                   name="value_{{filter.id}}" placeholder="Значение"
                                   class="table-editable-sell-hover-hilight" required/>
                        </mat-cell>
                    </ng-container>

                    <!--
                    <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? selectedFiltersColumnsMasterToggle() : null"
                                      [checked]="selectedFiltersColumns.hasValue() && selectedFiltersColumnsIsAllSelected()"
                                      [indeterminate]="selectedFiltersColumns.hasValue() && !selectedFiltersColumnsIsAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selectedFiltersColumns.toggle(row) : null"
                                      [checked]="selectedFiltersColumns.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                -->

                    <mat-header-row *matHeaderRowDef="selectedFiltersColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: selectedFiltersColumns;"></mat-row>
                </mat-table>

                <div class="flex-container">
                    <div class="flex-item">
                        <span matTooltip="Выбрать фильтр">
                          <button (click)="takeFilter()" mat-mini-fab color="accent"
                                  [disabled]="this.notificationService.appLoading">
                            <mat-icon aria-label="Выбрать фильтр">arrow_forward</mat-icon>
                          </button>
                        </span>
                    </div>

                    <div class="flex-item">
                        <span matTooltip="Отменить выбор">
                          <button (click)="dropFilter()" mat-mini-fab color="accent"
                                  [disabled]="this.notificationService.appLoading">
                            <mat-icon aria-label="Отменить выбор">arrow_back</mat-icon>
                          </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </mat-card-content>

    <mat-card-actions>
        <div class="button-row">

            <span matTooltip="Сохранить изменения" style="margin-left: 20px;">
              <button (click)="saveFiltersCol()" mat-fab color="primary"
                      [disabled]="this.notificationService.appLoading">
                <mat-icon aria-label="Сохранить">done</mat-icon>
              </button>
            </span>

            <span matTooltip="Отменить изменения">
          <button (click)="reload()" mat-mini-fab color="accent"
                  [disabled]="this.notificationService.appLoading">
            <mat-icon class="flipV" aria-label="Отменить">refresh</mat-icon>
          </button>
        </span>

            <span matTooltip="Добавить фильтр">
          <button (click)="addFiltersCol()" mat-mini-fab color="accent"
                  [disabled]="this.notificationService.appLoading">
            <mat-icon aria-label="Добавить">add</mat-icon>
          </button>
        </span>

            <span matTooltip="Удалить фильтр">
          <button (click)="filtersColDeleteConfirmationDialog()" mat-mini-fab color="warn"
                  [disabled]="this.notificationService.appLoading || (this.allFiltersSelection.selected.length == 0)">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>

        </div>
    </mat-card-actions>

</mat-card>
