<mat-expansion-panel expanded="true" class="top-level-expanded-panel-background">
    <mat-expansion-panel-header routerLink="/order">
        <mat-panel-title>Список заказов</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
        <span matTooltipPosition="right" matTooltip="Обновить">
      <button (click)="reload()" mat-mini-fab color="accent">
        <mat-icon aria-label="Обновить">autorenew</mat-icon>
      </button>
    </span>
        <mat-nav-list dense>
            <a *ngFor="let entity of entityList" mat-list-item routerLink="order/{{entity.id}}">
                {{entity.date | date:"dd.MM - HH:mm"}}</a>
        </mat-nav-list>
    </p>
</mat-expansion-panel>
