<form #orderForm="ngForm" *ngIf="this.entity && entity.customer && entity.offerList">
    <mat-card>

        <mat-card-header>
            <mat-card-title>{{this.componentTitle}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="edit-form-container">

                <mat-form-field>
                    <input matInput autocomplete="off" [(ngModel)]="this.entity.id" name="id" [disabled]="true" placeholder="id"
                           required/>
                </mat-form-field>

                {{entity.date | date:"dd.MM - HH:mm"}} <br/>
                {{entity.customer.name}} <br/>
                {{entity.customer.phone}} <br/>
                {{entity.customer.email}} <br/>
                {{entity.status}} <br/>
                {{entity.comment}} <br/>

                <table>
                    <tr *ngFor="let offer of entity.offerList">
                        <td>
                            {{offer.count}}
                        </td>
                        <td>
                            {{offer.product.title}}
                        </td>
                    </tr>
                </table>

            </div>

        </mat-card-content>

        <mat-card-actions>

            <div class="button-row">

            <span matTooltip="Сохранить изменения" style="margin-left: 20px;">
              <button (click)="save()" mat-fab color="primary"
                      [disabled]="!orderForm.form.valid || this.notificationService.appLoading">
                <mat-icon aria-label="Сохранить">done</mat-icon>
              </button>
            </span>

                <span matTooltip="Отменить внесённые изменения">
          <button (click)="reload()" mat-mini-fab color="accent"
                  [disabled]="!this.order_id || this.notificationService.appLoading">
            <mat-icon class="flipV" aria-label="Отменить">refresh</mat-icon>
          </button>
        </span>

                <span matTooltip="Удалить заказ">
          <button (click)="delete()" mat-mini-fab color="warn"
                  [disabled]="!this.order_id || this.notificationService.appLoading">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>

            </div>

        </mat-card-actions>

    </mat-card>
</form>
