<form #orderForm="ngForm" *ngIf="this.entity && entity.customer && entity.offerList">
    <mat-card>

        <mat-card-header>
            <mat-card-title>{{this.componentTitle}}</mat-card-title>
            <mat-card-subtitle>
                № {{this.entity.id}} от {{entity.date | date:"dd.MM.yyyy в HH:mm"}}
                на сумму {{this.getTotal() | number}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <div class="edit-form-container">
                <mat-grid-list cols="3" rowHeight="5em">
                    <!--<mat-grid-tile> &lt;!&ndash; style="padding-left: 1em; padding-right: 0em;" &ndash;&gt;-->
                        <!--<mat-form-field>-->
                            <!--<input matInput type="datetime-local" [(ngModel)]="this.entity.date" name="date" placeholder="Дата заказа" required/>-->
                            <!--
                            <input matInput [matDatepicker]="picker" [value]="this.entity.date" placeholder="Дата заказа" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker color="primary"></mat-datepicker>
                            -->
                        <!--</mat-form-field>-->
                    <!--</mat-grid-tile>-->
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput autocomplete="off" [(ngModel)]="this.entity.customer.name" name="name" placeholder="ФИО клиента" required/>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput autocomplete="off" autocomplete="off" [(ngModel)]="this.entity.customer.phone" name="phone" placeholder="Телефон клиента" required/>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput autocomplete="off" [(ngModel)]="this.entity.customer.email" name="email" placeholder="Почта клиента"/>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="1" [colspan]="1">
                        <mat-form-field>
                            <mat-select [(value)]="this.entity.status" name="status" placeholder="Статус заказа" required>
                                <mat-option *ngFor="let orderStatus of this.orderStatusCol" [value]="orderStatus.value">
                                    {{orderStatus.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="2" [colspan]="3">
                        <mat-form-field style="width: 100%">
                                <textarea matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="4"
                                          [(ngModel)]="this.entity.comment" name="comment"
                                          matInput placeholder="Комментарий к заказу"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
           </div>

           <table mat-table
                  [dataSource]="this.entity.offerList"
                  class="mat-elevation-z8">

               <ng-container matColumnDef="sku">
                   <th mat-header-cell *matHeaderCellDef> Артикул </th>
                   <td mat-cell *matCellDef="let element"> {{element.product.sku}} </td>
               </ng-container>

               <ng-container matColumnDef="title">
                   <th mat-header-cell *matHeaderCellDef> Товар </th>
                   <td mat-cell *matCellDef="let element">
                       <a routerLink="/product/{{element.product.urlParent}}/{{element.product.url}}">{{element.product.title}}</a>
                       </td>
               </ng-container>

               <ng-container matColumnDef="size">
                   <th mat-header-cell *matHeaderCellDef> Размер </th>
                   <td mat-cell *matCellDef="let element"> {{element.size}} </td>
               </ng-container>

               <ng-container matColumnDef="height">
                   <th mat-header-cell *matHeaderCellDef> Рост </th>
                   <td mat-cell *matCellDef="let element"> {{element.height}} </td>
               </ng-container>

               <ng-container matColumnDef="price">
                   <th mat-header-cell *matHeaderCellDef> Цена </th>
                   <td mat-cell *matCellDef="let element"> {{(element.price || element.product.price) | number}} </td>
               </ng-container>

               <ng-container matColumnDef="count">
                   <th mat-header-cell *matHeaderCellDef> Количество </th>
                   <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.count}} </td>
               </ng-container>

               <!--
               <ng-container matColumnDef="sum">
                   <th mat-header-cell *matHeaderCellDef> sum </th>
                   <td mat-cell *matCellDef="let element"> {{element.count * ((element.price != 0) ? element.price : element.product.price)}} </td>
               </ng-container>
               -->

                <tr mat-header-row *matHeaderRowDef="offerColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: offerColumns;"></tr>
            </table>

        </mat-card-content>

        <mat-card-actions>

            <div class="button-row">

            <span matTooltip="Сохранить изменения" style="margin-left: 20px;">
              <button (click)="save()" mat-fab color="primary"
                      [disabled]="!orderForm.form.valid || this.notificationService.appLoading">
                <mat-icon aria-label="Сохранить">done</mat-icon>
              </button>
            </span>

                <span matTooltip="Отменить внесённые изменения">
          <button (click)="reload()" mat-mini-fab color="accent"
                  [disabled]="!this.order_id || this.notificationService.appLoading">
            <mat-icon class="flipV" aria-label="Отменить">refresh</mat-icon>
          </button>
        </span>

                <span matTooltip="Удалить заказ">
          <button (click)="delete()" mat-mini-fab color="warn"
                  [disabled]="!this.order_id || this.notificationService.appLoading">
            <mat-icon aria-label="Удалить">delete</mat-icon>
          </button>
        </span>

            </div>

        </mat-card-actions>

    </mat-card>
</form>
